<section>
    <div class="container pt-4 mt-4">
        <div class="row  pt-4">
            <div class="col-md-6">
                <h2 class="text-center text-dark">Edit-Jobs</h2>
                <form action="/employer/edit-job/?id={{job._id}}" method="POST" enctype="application/x-www-form-urlencoded" class="text-dark">

                    <label for="">job</label>
                    <input type="text" name="Job" class="form-control" value="{{job.jobs.Job}}">
                    <label for="">updated date</label>
                    <input type="date" name="Date" class="form-control" value="{{job.jobs.Date}}">

                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control" value="{{job.jobs.Description}}">

                    <label for="">Experience Needed</label>
                    <input type="text" name="Experience" class="form-control" value="{{job.jobs.Experience}}">
                    <label for="">last date for apply</label>
                    <input type="date" name="LastDateForApply" class="form-control" value="{{job.jobs.LastdateForApply}}">
                    <label for="">location</label>
                    <input type="text" name="Location" class="form-control" value="{{job.jobs.Location}}">


                    <button type="submit" class="btn btn-success mt-4" onclick="alert("job added")">Update</button>
                </form>

            </div>
        </div>
    </div>
</section>