<div class="container mt-4">
    <div class="row pt-4">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/conform-signup/?id={{response}}" method="post" class="border border-dark p-3" role="form"
                enctype="application/x-www-form-urlencoded">
                <center><strong>
                        <h3 class="text-dark">enter your otp</h3>
                    </strong></center>
                      <div class="form-group">
                    <label for="exampleInputNumber">Name</label>

                    <input type="hidden" class="form-control" name="Name" aria-describedby="emailHelp"
                       value="{{details.Name}}" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>

                    <input type="hidden" class="form-control" name="Email" aria-describedby="emailHelp"
                        value="{{details.Email}}" >

                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputNumber">Phone Number</label>

                    <input type="hidden" class="form-control" name="Phone" aria-describedby="emailHelp"
                         value="{{details.Phone}}" >
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>

                    <input type="hidden" class="form-control" name="Password" value="{{details.Password}}" >

                </div>
                <input type="text" class="form-control" name="number" value="{{number}}" readonly>
                <input type="text" class="form-control" name="otp" aria-describedby="emailHelp"
                    placeholder="Enter the otp" required>

                <div class="pt-2">
                    <button type="submit" class="btn btn-success  btn-block">verify-otp</button>
                </div>
                <div class="pt-2">
                    <a href="#" class="btn btn-success  btn-block">resend</a>
                </div>
            </form>
        </div>

    </div>
    <div class="col-lg-4"></div>
</div>
</div>